spring:
  datasource:
    url: jdbc:mysql://localhost:3310/evm
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html

server:
  port: 8080
  ssl:
    enabled: false
    key-store: classpath:keystore.p12
    key-store-password: your_keystore_password
    key-store-type: PKCS12
    key-alias: tomcat

app:
  jwt:
    secret: your_jwt_secret_key_min_32_chars_for_hs256_algorithm
    expiration-ms: 86400000  # 24 gi·ªù
    issuer: Evm

logging:
  level:
    org.springframework.security: DEBUG